{
  "plugins": ["prettier", "import",  "@typescript-eslint", "jest"],
  "extends": [ "plugin:react/recommended","airbnb", "airbnb-typescript", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "rules": {
    "no-debugger": "off",
    "no-console": "warn",
    "class-methods-use-this": "off",
    "react/require-default-props": "off",
    "newline-per-chained-call": "error", 
    "import/no-extraneous-dependencies": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
