@import '../globals.css';

.wrapper {
  width: 100%;
  text-align: center;
  display: flex;
}

.checkbox {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 17px;
  height: 17px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
}

.checkbox:hover:before {
  content: '';
  position: absolute;
  background-color: rgba(25, 118, 210, 0.04);
  border-radius: 50%;
  top: -11px;
  right: -11px;
  width: 40px;
  height: 40px;
  z-index: -10;
}

.checkbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  width: 5px;
  height: 11px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.input {
  display: none;
}

.label {
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.input:checked ~ .checkbox {
  border-color: transparent;
  background: var(--background-color-prime);
}

.input:checked ~ .checkbox:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

.input:disabled ~ .checkbox {
  border-color: transparent;
  border-color: rgba(0, 0, 0, 0.26);
}

.input:checked:disabled ~ .checkbox {
  border-color: transparent;
  background: rgba(0, 0, 0, 0.26);
}

.input:disabled ~ .label {
  color: rgba(0, 0, 0, 0.38);
}

.disabled {
  pointer-events: none;
  cursor: default;
}
